---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: jellyfin
  name: jellyfin
spec:
  ports:
  - name: web
    port: 8096
    protocol: TCP
    targetPort: 8096
    nodePort: {{ node_port|int if not has_route else None }}
  selector:
    app: jellyfin
  type: "{{ 'ClusterIP' if has_route else 'NodePort' }}"
